
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



/*************************************************
 * CSS VARIABLES
/************************************************/

:root{
	--primary-color:#266EF1!important;
	--text-color:#222222!important;
  --grijs-color:#f4f6f6!important;

  --ff-text:'Open Sans', sans-serif!important;
  --ff-koppen: 'Montserrat', serif!important;
}

/*************************************************
 * TYPOGRAFIE
/************************************************/
*{
  font-family:var(--ff-text);
}

p{
  font-size:17px;
  line-height:1.7em;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';

}

.material-icons{
  font-size:24px!important;
  color:white;
  position: absolute;
  right:50px;
}

.custom-icon{
  color:#000!important;
  position: absolute;
  right:100px;
}

/*************************************************
 * NAVIGATIE & fly-out
/************************************************/
.hamburger-box{
  width:100px;
  height:100px;
  background-color: var(--primary-color);
  position: absolute;
  right:0px;
  top:0px;
  cursor:pointer;
  z-index: 1;
}

.home-box{
  width:100px;
  height:100px;
  background-color: var(--text-color);
  position: absolute;
  left:0px;
  top:0px;
  cursor:pointer;
  z-index: 100000;
  display:flex;
  justify-content: center;
  align-items: center;
}
.hamburger{
  width:50px;
  height:6px;
  background: white!important;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  transition:.4s;
  margin-bottom:5px;
}

.hamburger:before,
.hamburger:after{
  content:'';
  position: absolute;
  width:50px;
  height:6px;
  background-color:#fff;
  transition: .4s;
}

.hamburger:before{
  top:-16px;
}

.hamburger:after{
  top:16px;
}

.hamburger-box.active .hamburger:before{
  transform:rotate(-135deg);
  width:35px;
  left:17.5px;
  top:-13px;
}

.hamburger-box.active .hamburger:after{
  transform:rotate(135deg);
  width:35px;
  left:17.5px;
  top:13px;
}

.fly-out{
  position:absolute;
  width:400px;
  height:100vh;
  top:100px;
  right:-1000px;
  background-color:darkgrey;
  z-index:10000;
  transition:.4s;
  opacity:.95;
  border-top:20px solid white;
  border-left:20px solid white;
  padding:50px 40px;
}

.fly-out.active{
  right:0px;
}

.fly-out h5{
  line-height:1em;
  border:1px solid white;
  padding:8px 20px;
  margin-bottom:20px;
}

.fly-out a{
  font-size:13px!important;
  color:white;
  text-transform: uppercase;
}

.fly-out a:hover{
  text-decoration: none;
}

.fly-out p{
  color:white;
}

/*************************************************
 * HERO SECTION
/************************************************/

#hero-section{
  margin:20px;
  background-image: url('img/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height:800px;
  position: relative;
}

#hero-section h2{
  padding-top:380px;
  color:white;
  font-family: var(--ff-koppen);
  font-size: 60px;
  font-weight:700;
  /* text-transform: uppercase; */
}

.hero-hr{
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 2px dashed white;
  max-width:40%;
}

#hero-section h3{
  font-family:var(--ff-text);
  color:white;
  font-size: 28px;
  line-height:1.5em;
  padding-top:20px;
}

.res-box{
  margin-top:-100px;
  background-color: white;
  display:flex;
  justify-content:center;
  align-items: center;
  padding:50px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.15);
}


/*************************************************
 * FORM
/************************************************/

input{
  width:400px!important;
  margin-right:10px;
  padding:14.2px!important;
  border:none;
  border-radius: 0px!important;
}

.form-control::placeholder {
    color: #6c757d;
    opacity: .8;
    font-style:italic;
    font-weight:100;
}

.btn, .btn-primary{
  border-radius: 0px;
}

.btn-primary:hover {
    color: #fff;
    background-color: var(--primary-color);
}

.btn-primary{
  background-color: var(--primary-color);
}

.button-style{
  font-family:var(--ff-text);
  font-size:14px;
  letter-spacing: 1px;
  background-color: var(--primary-color);
  color:white;
  padding:16px 30px 16px;
  border: none;
  text-transform: uppercase;
  border-radius: none!important;
}

.button-style:hover{
  opacity: .8;
  cursor: pointer;
}

/*************************************************
 * RESULTS SECTION
/************************************************/

#results-section{
  margin:-55px 20px 20px 20px;
  padding:80px 0px;
  background-color:var(--grijs-color);
}

.result-box{
  background: white;
  position: relative;
  padding:30px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
  margin-top:40px;
  margin-bottom:40px;
}

.result-box:after{
  display: block;
  content: "";
  clear:both;
}

.mak-naam{
  padding-bottom: 20px;
}

.mak-naam h4{
  line-height: 1.1em;
  font-weight:700;
}

.mak-naam h5{
  line-height: 1.1em;
}

.mak-naam-www{
  font-size:18px;
  color:var(--primary-color);
  padding-top:15px;
  font-weight:600;
}

.img-kantoor{
  position:absolute;
  right:40px;
  top:30px;
  max-width:300px;
}

.mak-cp h4{
  font-size:17px;
  line-height: 1.2em;
}

.mak-cp-naam{
  color:var(--primary-color);
  font-weight:600;
}

.email-box{
  margin-top:30px;
  padding:10px 20px 5px;
  border:1px solid var(--primary-color);
  color:var(--primary-color);
}

.mak-cp-email:hover{
  text-decoration: none;
}

.button-style-profiel{
  font-family:var(--ff-text);
  font-size:14px;
  letter-spacing: 1px;
  background-color: white;
  color:var(--primary-color);
  padding:15px 30px 15px;
  border: 1px solid var(--primary-color);
  text-transform: uppercase;
  border-radius: none!important;
  margin-left:10px;
}

/*************************************************
 * ADVERTENTIES
/************************************************/
.adv-img-box{
  border:1px solid lightgrey;
  border-right:0px;
  padding:10px;
  height:300px;
  overflow: hidden;
}

.row-no-padding{
  padding-left:0px;
  padding-right:0px;
  margin-top:0px;
}

.adv-img-box{
  display:flex;
  justify-content:center;
  align-items: center;
}

.adv-img-box img{
  width:100%;
}

/*************************************************
 * PROFIEL SINGLE PAGINA
/************************************************/

#hero-single-section{
  margin:20px;
  background-image: url('img/profiel-hero.jpg');
  background-position:left bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height:700px;
  position: relative;
  z-index: 0;
  }

#hero-single-section h2{
  padding-top:180px;
  color:white;
  font-family: var(--ff-koppen);
  font-size: 60px;
  font-weight:700;
  /* text-transform: uppercase; */
}

#hero-single-section h3{
  font-family:var(--ff-text);
  color:white;
  font-size: 28px;
  line-height:1.5em;
  padding-top:20px;
}

#profiel{
  margin-top:-200px;
  margin-bottom:100px;
  background:white;
}

.profiel-cont{
  margin-right:170px;
}

.desc-office{
  color:var(--text-color);
  font-weight:600!important;
  padding-bottom:10px;
  font-size:16px!important;
  text-transform: uppercase;
  text-decoration: underline;
}

.profiel-box{
  background:white;
  padding:50px 100px;
  margin-left:80px;
  /* border:1px solid var(--primary-color); */
  box-shadow:0 0 10px 0 rgba(0,0,0,.10);
  border-radius:5px;
}

.mak-naam h2{
  line-height: 1.3em;
  font-weight:700;
}

/*************************************************
 * FOOTER
/************************************************/
#footer{
  background-color: var(--grijs-color);
  padding:80px 0px;
  border-bottom:30px solid var(--primary-color);
}

#footer h5{
  color:var(--primary-color);
  border:1px solid var(--primary-color);
  padding:5px 20px;
  margin-bottom:20px!important;
  text-transform: uppercase;
  line-height: 1.7em;
  font-size:17px;
  font-weight:600;
}

#footer a:hover{
  color:var(--text-color);
  text-decoration: none;
}

/*************************************************
 * MEDIA QEURIES
/************************************************/

@media (max-width:1199px){
  input{
    width:100%!important;
    margin-right:0px;
  }
  .button-style-z{
    margin-top:10px;
    width:100%;
  }
  .res-box{
    padding:30px;
  }


}

@media (max-width:992px){
  input{
    width:100%!important;
    margin-right:0px;
  }
  .button-style{
    margin-top:10px;
    width:100%;
  }
  .button-style-profiel{
    margin-top:10px;
    margin-left:0px;
    width:100%;
  }
  #hero-section h2{
    padding-top:330px;
    font-size: 30px;
  }
  .res-box{
    padding:30px;
  }
  #profiel{
    margin-top:0px;
    margin-bottom:100px;
  }
  #hero-single-section h2{
    padding-top:270px;
  }
  .profiel-box{
    padding:20px;
    margin-left:0px;
  }
  .profiel-cont {
    margin-right: 0px;
  }
  .no-padding{
    padding-right:0px;
  }

}

@media (max-width:480px){
  .hamburger-box{
    width:60px;
    height:60px;
  }
  .home-box{
    width:60px;
    height:60px;
  }
  .home-box img{
    max-width:35px;
  }
  .hamburger{
    width:30px;
    height:4px;
  }
  .hamburger:before,
  .hamburger:after{
    width:30px;
    height:4px;
  }
  .hamburger:before{
    top:-10px;
  }
  .hamburger:after{
    top:10px;
  }
  .hamburger-box.active .hamburger:before{
    transform:rotate(-135deg);
    width:20px;
    left:12px;
    top:-7px;
  }
  .hamburger-box.active .hamburger:after{
    transform:rotate(135deg);
    width:20px;
    left:12px;
    top:7px;
  }
  .fly-out{
    position:absolute;
    width:100vw;
    height:8000px;
    top:60px;
    padding:50px 40px;
  }
  #hero-section, #hero-single-section{
    height:400px;
  }
  #hero-section h2{
    padding-top:80px;
    font-size: 30px;
  }
  #hero-single-section h2{
    padding-top:180px;
    font-size: 30px;
  }
  #hero-section h3, #hero-single-section h3{
    font-size: 20px;
    line-height:1.5em;
    padding-top:10px;
  }
  .button-style-profiel{
    margin-top:10px;
    margin-left:0px;
    width:100%;
  }
  .button-style{
    margin-top:10px;
    width:100%;
  }
  .mobile-row{
    margin-left:10px;
    margin-right:10px;
  }
  .res-box{
    margin-top: 0px;
    padding:30px;
  }
  input{
    width:100%;
    margin-right:0px;
  }
  #results-section{
    margin:-80px 0px 0px 0px;
    padding:80px 0px;
    background-color:var(--grijs-color);
  }
  #profiel{
    margin-top:0px;
    margin-bottom:100px;
  }
  .profiel-box{
    padding:20px;
    margin-left:0px;
  }
  .profiel-cont {
    margin-right: 0px;
  }
  .no-padding{
    padding-right:0px;
  }
}
